<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
	<form action="#" method="post" th:action="@{/product/save}" th:object="${product}"> 
	
		Brand Id<!-- enter -->
		
		<input type="text" th:field="*{brandId}" /> <!-- bintang untuk menampung -->
		
		<br></br>
		 
		<br> 
		Name 
		<input type="text" th:field="*{name}" /> 
		</br>
		
		<br>
		Price 
		<input type="text" th:field="*{price}" /> 
		</br>
	
		<br>
		Type
		<input type="text" th:field="*{type}" /> 
		</br>
		
		
		<br>
		<input type="submit" value="Save Fucker" />
		</br>
		
	</form>





</body>
</html>